
.cabecera {
  color: black;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.desplegables {
  position: relative;
  display: inline-block;
  color: aquamarine;
  background-color: blueviolet;
  border: solid black;

}

.titulo{
  font-size: 25px;
}

.contenido{
  margin: left;
  width: 1250px;
}

.buscar{
  float: right;
  margin-top: -550px;
  background-color: white;
}

input[type="radio"]{
  display: none;
  opacity: 0;
}

.registro{
  float: right;
  margin-top: -448px;
  width: 199px;
  background-color: white;
}

.otra {
  float: right;
  margin-top: -356px;
  background-color: white;
  width: 199px;
}

.estrella {
  width: 17px;
  background-color: white;
  
}
legend{
  background-color: violet;
  border: 2px solid blueviolet;
}

body{
  background-color: beige;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifd;
}



.menu{
  background-color: aquamarine;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  display: inline-block; /* Cambiamos de 'position: relative' a 'display: inline-block' */
  position: relative;
}

li ul {
  position: absolute;
  top: 100%; /* Mover el submenú hacia abajo */
  left: 0;
  display: none;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #777;
  background: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

li:hover ul {
  display: block;
}
.nano{
  transition: transform 0.7s ;
  border: solid 2px black;

}

.nano:hover{
  transform: scale(1.2);
}

.nano2{
  display: flex;
  align-items: center;
  justify-content: center;
}